body {
  margin: 0;
  text-decoration: none;
  font-family: 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 229);
  color: rgb(26, 24, 81);
}
